.main {
	flex: 1;
}
.Home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.title{
	font-size: 32px;
	text-align: center
}

@media screen and (max-width: 480px) {
	.title{
		font-size: 16px;
	}
	.Typography{
		font-size: 12px;
	}
	.red{
		font-size: 12px;
	}
}

.Typography{
	color: black; 
	font-size: 24px;
	text-align: center;
}

.red {
	position: relative;
	text-align: center;
	color: black; 
	font-size: 18px;
}

.red:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	border-bottom: solid 3px red;
	transform: translateX(-50%);
	animation: border_anim 0.1s linear forwards;
}

@keyframes border_anim {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}