.Home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	flex: 1;
}
.text{
    text-align: center;
}

.button{
    margin-left: 45%;
}
.table{
    width: 80%;
    margin: 0 auto;
}