.Home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.main {
	flex: 1;
}

.red {
	position: relative;
	text-align: center;
	font-size: 18px;
}

.HomeLinkElement {
	border: none;
	color: black;
	text-align: center;
	width: 40%;
	height: 20%;
}

.red:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0;
	border-bottom: solid 3px red;
	transform: translateX(-50%);
	animation: border_anim 0.1s linear forwards;
}

@keyframes border_anim {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}