.main {
    flex: 1;
}

.Home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.table {
    border-collapse: collapse;
    margin-left: 1%;
    margin-top: 1rem;
    width: 100%;
}

.plusminus:hover{
    opacity: 0.6;
}

.TableTitle{
    font-size: 24px;
    padding: 10px 10px;
}
.TableContent{
    font-size: 24px;
    padding: 10px 10px;
}
.Text{
    font-size: 2rem;
    font-weight: normal;
    margin-left: 2rem;
}
.SetMember{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));  
}
.button{
    margin-top: 2rem;
    margin-left: 45%;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
}

.NumberInput{
    width: 50px;
    text-align: left;
    padding: 10px 10px;
}

.GridTable{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.space{
    width: 2rem;
}